<app-spinner></app-spinner>

<header class="header">
  <nav class="nav justify-content-between">
    <a href="./index.html" class="logo">
      <img src="../favicon.ico" alt="" />
    </a>

    <div class="menu d-flex justify-content-end">
      <a class="nav-link active" href="#">Home</a>
      <a class="nav-link" href="#">About us</a>
      <a class="nav-link" href="#">Services</a>
      <a class="nav-link" href="#">News</a>
      <a class="nav-link" href="#">Contact</a>
      <a class="nav-link btn btn-sm user-panel" href="#" role="button">Login / Register</a>
    </div>
  </nav>
</header>

<section class="hero-section">


  <!-- 
  <div class="container h-100">
    <div class="hero-content d-flex justify-content-center align-content-center text-white">
      <div class="row">
        <div class="col-lg-6 pr-0">
          <h2>Unbeatable Offers</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus
            mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.
          </p>
          <a href="#" class="site-btn">Get your plan</a>
        </div>
      </div>

      <div class="hero-rocket">
        <img src="./img/rocket.png" alt="" />
      </div>
    </div>
  </div>
   -->
</section>
