.header {
  position: absolute;
  padding-top: 1.5em;
  width: 100%;
  z-index: 100;
}

.logo {
  margin-left: 3.5em;
  margin-top: .3em;
}

.menu {
  margin-right: 3.5em;
}

.nav-link {
  color: #cdcbd3;
  transition: all 0.4s;
}

.nav-link:hover {
  color: #eb2b63;
}

.user-panel {
  background: #eb2b63;
  color: #cdcbd3;
  border-radius: 1em;
  margin-left: 1em;
}

.hero-section {
  height: 45em;
  overflow: hidden;
  background: linear-gradient(#0b032a, #2c1472);
}
