.spinner-container {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.spinner {
  width: 3em;
  height: 3em;
  border-radius: 4.5em;
  animation: spinner 1s linear infinite;
}

.spinner--small {
  width: 2.5em;
  height: 2.5em;
  border-radius: 3.75em;
}

.spinner--large {
  width: 3.5em;
  height: 3.5em;
  border-radius: 5.25em;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
		border: .25em solid #f44336;
		border-left-color: transparent;
  }
  
	50% {
		transform: rotate(180deg);
		border: .25em solid #673ab7;
		border-left-color: transparent;
  }
  
	100% {
		transform: rotate(360deg);
		border: .25em solid #f44336;
		border-left-color: transparent;
	}
}
